<div class="container-fluid">


    <h3>All Users</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Actions</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td><button (click)='onClickBlock(user)' type="button" class="btn btn-primary">Block</button></td>
      </tr>
    </tbody>
  </table>

    <h3>Blocklist</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Actions</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of blocklist">
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td><button (click)='onClickUnBlock(user)' type="button" class="btn btn-primary">UnBlock</button></td>

    
      </tr>
    </tbody>
  </table>

  <h3>My account</h3>
  <div class=''>
    <div class="col-2">
        <div class="form-group ">
          <label for="destination">Email address</label> 
            <input type="text" class="form-control" id="hotel" [(ngModel)]="user.email"  name="hotel"  placeholder="Email">
        </div>
    </div>
    
    <div class="col-2">
        <div class="form-group">
            <!-- <label for="destination">Email address</label> -->
            <label for="destination">Username</label> 
            <input type="text" class="form-control" id="city" [(ngModel)]="user.username"  name="city"  placeholder="Username">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <!-- <label for="destination">Email address</label> -->
            <label for="destination">Password</label> 
            <input type="text" class="form-control" id="city" [(ngModel)]="user.password"  name="city"  placeholder="Password">
        </div>
    </div>

    <div class="col-2">
      <div class="form-group">
          <!-- <label for="destination">Email address</label> -->
          <label for="destination">First name</label> 
          <input type="text" class="form-control" id="grade" [(ngModel)]="user.firstName"  name="grade"  placeholder="First name">
      </div>
  </div>

  <div class="col-2">
    <div class="form-group">
        <!-- <label for="destination">Email address</label> -->
        <label for="destination">Last name</label> 
        <input type="text" class="form-control" id="comment" [(ngModel)]="user.lastName"  name="comment"  placeholder="Last name">
    </div>
</div>
<!-- <div class="col-2"> -->
    <!-- <div class="form-group"> -->
        <!-- <label for="destination">Email address</label> -->
        <!-- <label for="destination">User type</label>  -->
        <!-- <input type="text" class="form-control" id="comment" [(ngModel)]="user.type"  name="comment"  placeholder="Comment"> -->
    <!-- </div> -->
<!-- </div> -->
<div class="col-2">
    <div class="form-group">
        <!-- <label for="destination">Email address</label> -->
        <label for="destination">Phone number</label> 
        <input type="text" class="form-control" id="comment" [(ngModel)]="user.phoneNumber"  name="comment"  placeholder="123456789">
    </div>
</div>
<div class="col-2">
    <div class="form-group">
        <!-- <label for="destination">Email address</label> -->
        <label for="destination">Birth Date</label> 
        <input type="text" class="form-control" id="comment" [(ngModel)]="user.birthdate"  name="comment"  placeholder="2021-01-01">
    </div>
</div>
<div class="col-2">
    <button (click)='onUpdate()' type="button" class="btn btn-primary">Update</button>
  
  </div>

</div>


</div>
<h3>Ranks</h3>
<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Discount</th>
      <th scope="col">Actions</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rank of ranks">
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="rank.name"  name="comment"  placeholder="2021-01-01"></td>
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="rank.value"  name="comment"  placeholder="2021-01-01"></td>
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="rank.discount"  name="comment"  placeholder="2021-01-01"></td>
      <td><button (click)='onClickUpdateRank(rank)' type="button" class="btn btn-primary">Update</button></td>

  
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="newrank.name"  name="comment"  placeholder="Name"></td>
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="newrank.value"  name="comment"  placeholder="Value"></td>
      <td><input type="text" class="form-control" id="comment" [(ngModel)]="newrank.discount"  name="comment"  placeholder="Discount"></td>
      <td><button (click)='onClickAddRank()' type="button" class="btn btn-primary">Add Rank</button></td>

    </tr>
  </tbody>
</table>

<h3>Hotels</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Number of rooms</th>
        <th scope="col">Room Types and price</th>
        <th scope="col">Actions</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels">
        <td><input type="text" class="form-control" id="comment" [(ngModel)]="hotel.name"  name="comment"  placeholder="2021-01-01"></td>
        <td><input type="text" class="form-control" id="comment" [(ngModel)]="hotel.desc"  name="comment"  placeholder="2021-01-01"></td>
        <td><input type="text" class="form-control" id="comment" [(ngModel)]="hotel.numberOfRooms"  name="comment"  placeholder="2021-01-01"></td>
        <td>
          <div class="row" *ngFor="let type of hotel.roomTypes" >
            <input type="text" class="col-2" id="comment" [(ngModel)]="type.name"  name="comment"  placeholder="2021-01-01">
            <input type="text" class="col-2" id="comment" [(ngModel)]="type.price"  name="comment"  placeholder="2021-01-01">
          </div>
        </td>

        <td><button (click)='onClickUpdateHotel(hotel)' type="button" class="btn btn-primary">Update</button></td>

    
      </tr>
    </tbody>
  </table>

  <h3>Notifications</h3>
  <form >
    <div class='row my-2'>
        <div class="col-2">
            <div class="form-group ">
                <input type="text" class="form-control" id="origin" [(ngModel)]="notFilter.email" (ngModelChange)="onChangeFilter()" name="city"  placeholder="Filter by email">
            </div>
        </div>
        
        <div class="col-2">
            <div class="form-group">
                <!-- <label for="destination">Email address</label> -->
                <input type="text" class="form-control" id="destination" [(ngModel)]="notFilter.name" (ngModelChange)="onChangeFilter()" name="hotel"  placeholder="Filter by Notification type">
            </div>
        </div>

        
        <div class="form-group col-2">
            <div class="input-group">
                <input class="form-control" placeholder="Date range: Start"
                       name="dp" [(ngModel)]="filterDate.departDate" (ngModelChange)="onChangeBegin()" ngbDatepicker #d="ngbDatepicker" aria-describedby="addon-cal">
                <div class="input-group-append">
                    <span class="input-group-text" id='addon-cal' (click)="d.toggle()"><i class=" bi bi-calendar-plus"></i></span>
                </div>
              
            </div>
        </div> 
        <div class="form-group col-2">
            <div class="input-group">
                <input class="form-control"  placeholder="Date range: End"
                       name="dp" [(ngModel)]="filterDate.returnDate" (ngModelChange)="onChangeEnd()" ngbDatepicker #c="ngbDatepicker" aria-describedby="addon-cal2">
                <div class="input-group-append">
                    <span class="input-group-text" id='addon-cal2' (click)="c.toggle()"><i class=" bi bi-calendar-plus"></i></span>
                </div>
              
            </div>
        </div> 

        
        
    </div>
    
</form>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
        <th scope="col">Notification type</th>
        <th scope="col">Notification template</th>
        <th scope="col">Text</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications">
        <td>{{notification.userID}}</td>
        <td>{{notification.email}}</td>
        <td>{{notification.date | date:'medium'}}</td>
        <td>{{notification.notificationType.name}}</td>
        <td>{{notification.notificationType.template}}</td>
        <td>{{notification.text}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Notification types</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Template</th>
        <th scope="col">Parameters</th>
        <th scope="col">Update</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of notTypes">
        <td >
          <input type="text" id="comment" [(ngModel)]="type.name"  name="comment"  placeholder="Name">
        </td>
        <td>
          {{type.template}}
          <input type="text" id="comment" [(ngModel)]="type.template"  name="comment"  placeholder="Template">
        </td>
        <td class="row">
          <div class="col-2" *ngFor="let param of type.parameters" >
            <input type="text" id="comment" [(ngModel)]="param.name"  name="comment"  placeholder="Param">
          </div>
        </td>

        <td><button (click)='onClickUpdateType(type)' type="button" class="btn btn-primary">Update</button></td>
        
      </tr>
    </tbody>
  </table>
