<div class="container-fluid">

    <h3>Termini</h3>


    <form >
        <div class='row my-2'>
            <div class="col-2">
                <div class="form-group ">
                    <input type="text" class="form-control" id="origin" [(ngModel)]="filter.city" (ngModelChange)="onChangeCity()" name="city"  placeholder="Filter by city">
                </div>
            </div>
            
            <div class="col-2">
                <div class="form-group">
                    <!-- <label for="destination">Email address</label> -->
                    <input type="text" class="form-control" id="destination" [(ngModel)]="filter.hotel" (ngModelChange)="onChangeHotel()" name="hotel"  placeholder="Filter by Hotel">
                </div>
            </div>

            
            <!-- <div class="form-group col-2">
                <div class="input-group">
                    <input class="form-control" placeholder="Filter By Depart Date"
                           name="dp" [(ngModel)]="filterDate.departDate" (ngModelChange)="onChangeDepart()" ngbDatepicker #d="ngbDatepicker" aria-describedby="addon-cal">
                    <div class="input-group-append">
                        <span class="input-group-text" id='addon-cal' (click)="d.toggle()"><i class=" bi bi-calendar-plus"></i></span>
                    </div>
                  
                </div>
            </div> 
            <div class="form-group col-2">
                <div class="input-group">
                    <input class="form-control"  placeholder="Filter By Return Date"
                           name="dp" [(ngModel)]="filterDate.returnDate" (ngModelChange)="onChangeReturn()" ngbDatepicker #c="ngbDatepicker" aria-describedby="addon-cal2">
                    <div class="input-group-append">
                        <span class="input-group-text" id='addon-cal2' (click)="c.toggle()"><i class=" bi bi-calendar-plus"></i></span>
                    </div>
                  
                </div>
            </div>  -->

            
            
        </div>
        
    </form>

<table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Hotel</th>
        <th scope="col">Room type</th>
        <th scope="col">Available</th>
        <th scope="col">Price</th>
        <th scope="col">Day</th>
        <th scope="col">Reserve</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let termin of termini">
        <td>{{termin.city}}</td>
        <td>{{termin.hotel.name}}</td>
        <td>{{termin.accommodationDto.roomType.name}}</td>
        <td>{{termin.accommodationDto.availableRooms}}</td>
        <td>{{termin.accommodationDto.roomType.price}}</td>
        <td>{{termin.day | date:'medium'}}</td>
        <td><button (click)='onClickReserve(termin)' type="button" class="btn btn-primary">Reserve</button></td>
       
        
      </tr>
    </tbody>
  </table>

  <h3>My reservations</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Hotel</th>
        <th scope="col">Room type</th>
        <th scope="col">Price</th>
        <th scope="col">Day</th>
        <th scope="col">Cancel</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation.terminDto.city}}</td>
        <td>{{reservation.terminDto.hotel.name}}</td>
        <td>{{reservation.terminDto.accommodationDto.roomType.name}}</td>
        <td>{{reservation.price}}</td>
        <td>{{reservation.terminDto.day | date:'medium'}}</td>
        <td><button (click)='onClickCancel(reservation)' type="button" class="btn btn-primary">Cancel</button></td>
       
        
      </tr>
    </tbody>
  </table>

  <h3>Reviews</h3>
    <form>
        <div class='row my-2'>
            <div class="col-2">
                <div class="form-group ">
                    <input type="text" class="form-control" id="origin" [(ngModel)]="reviewFilter.city" (ngModelChange)="onChangeCity()" name="city"  placeholder="Filter by city">
                </div>
            </div>
            
            <div class="col-2">
                <div class="form-group">
                    <!-- <label for="destination">Email address</label> -->
                    <input type="text" class="form-control" id="destination" [(ngModel)]="reviewFilter.hotel" (ngModelChange)="onChangeHotel()" name="hotel"  placeholder="Filter by Hotel">
                </div>
            </div>
        </div>
    </form>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Hotel</th>
        <th scope="col">Grade</th>
        <th scope="col">Comment</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.city}}</td>
        <td>{{review.hotel.name}}</td>
        <td>{{review.grade}}</td>
        <td>{{review.comment}}</td>
        <td><button (click)='onClickDelete(review)' type="button" class="btn btn-primary">Update</button></td>
        <td><button (click)='onClickDelete(review)' type="button" class="btn btn-primary">Delete</button></td>
       
        
      </tr>
    </tbody>
  </table>

  <h3>Best Hotels</h3>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Number of rooms</th>
        <th scope="col">Description</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels">
        <td>{{hotel.name}}</td>
        <td>{{hotel.numberOfRooms}}</td>
        <td>{{hotel.desc}}</td>
        
       
        
      </tr>
    </tbody>
  </table>

  
</div>